// Color
$e-primary: #B2294B;
$e-l-primary: #F7EAED;
$e-secondary: #E4BC28;
$e-l-secondary: #FCF8E9;
$e-tertiary: #32C08D;
$e-l-tertiary: #EAF9F4;
$e-d-light: #F5F5F5;

$main-color-set: (primary, $e-primary, $e-l-primary), (secondary, $e-secondary, $e-l-secondary), (tertiary, $e-tertiary, $e-l-tertiary);

// Reset
//$font-size-base: 1.6rem;

// Font Sizes
$font-sizes-set: (12, 18px), (14, 21px), (16, 24px), (18, 27px), (20, 30px), (22, 33px), (24, 36px), (30, 36px), (32, 38px), (36, 43px), (40, 48px), (56, 68px);
$font-color-set: (primary, $e-primary, $e-l-primary), (secondary, $e-secondary, $e-l-secondary), (tertiary, $e-tertiary, $e-l-tertiary);

// Navbar
$navbar-padding-y: 15px;
//$nav-link-padding-x: 0;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: transparentize($e-l-primary, .25);

// Accordion
$accordion-padding-y: 1.5rem;
$accordion-padding-x: $accordion-padding-y;
$accordion-border-width: 0;
$accordion-button-focus-box-shadow: none;
//$accordion-icon-color:                    $body-color;
//$accordion-icon-active-color: var(--icon-color-active);
//$accordion-icon-active-color: red;