.cards {
    &--block {
        h2 {
            @extend %fs-24, %ff-playfair, %mt-5;
        }

        .cards {
            &__card {
                @extend %text-center;

                border: 0.5px solid #A6A6A6;
                border-radius: 8px;
                padding: 40px 24px 40px;

                @include media-breakpoint-up(lg) {
                    padding: 48px 36px 36px;
                }

                @each $key, $color, $bg in $main-color-set {
                    &--#{$key} {
                        background-color: $bg;
                        //font-size: #{$size}px;
                        //line-height: $line-height;
                    }
                }
            }
        }
    }

    &--alternate {
        h2 {
            @extend %ff-playfair, %fs-30, %fs-md-32, %mb-3;
        }

        &:not(:last-child) {
            margin-bottom: 80px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 120px;
            }
        }

        .btn {
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
}