@mixin input-outline() {
    @include theme-border-radius();
    @include theme-border-spacing();
    @extend %ff-playfair;
}

@mixin input-outline-color($bg, $color) {
    background-color: $bg;
    color: $color;
    border-color: $color;

    &::-webkit-input-placeholder {
        color: transparentize($color, .5);
    }

    &:-ms-input-placeholder {
        color: transparentize($color, .5);
    }

    &::placeholder {
        color: transparentize($color, .5);
    }
}